.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  flex-wrap: wrap;
}

.navbar-item {
  font-size: 60px;
  border: 2px solid black;
  border-radius: 17px;
  background-color: #a36d6d;
  cursor: pointer;
  margin: 10px;
  padding: 2px;
}

@media screen and (max-width: 630px)
{
  .navbar {
    justify-content: center;
  }
  .navbar-item {
    font-size: 50px;
  }
}