/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  flex-wrap: wrap;
}

.navbar-item {
  font-size: 60px;
  border: 2px solid black;
  border-radius: 17px;
  background-color: #88a6df;
  cursor: pointer;
  margin: 10px;
  padding: 2px;
}

.team-info {
  display: none; /* Hide team members by default */
  background-color: #88a6df;
}

.show-team .team-info {
  display: flex; /* Show team members when class is present */
  flex-direction: column; /* Stack team members vertically */
  align-items: center; /* Center horizontally */
  width: 100%; /* Full width */
  margin-top: 20px; /* Add margin at the top */
}

.member {
  margin: 10px;
}

.member img {
  width: 200px;
  height: 200px;
}

.member p {
  margin: 5px 0;
}

.member a {
  color: blue;
}
