/* Projects CSS */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 47%;
  height: 450px
}

.project img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.project img:hover {
  transform: scale(1.05); /* Increase size by 5% on hover */
}

@media screen and (max-width: 1347px)
{
  .project {
    width: 55%;
  }
}

@media screen and (max-width: 950px)
{
  .project {
    width: 75%;
  }
}

@media screen and (max-width: 457px)
{
  .project {
    width: 95%;
    height: 300px;
  }
}